.form-container {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: $color2;

  h1 {
    color: $color3;
  }


  form {
    text-align: center;
    padding: 20px;

    input {
      padding: 10px;
      min-width: 300px;
      border-radius: 10px;
      background-color: $color4;

      &::placeholder {
        text-align: center;
      }

      &:focus {
        outline: none;
        border: 2px solid $color3;
        text-align: center;

        &::placeholder {
          opacity: 0;
          transition: 1s ease-in-out;
        }
      }
    }
  }
}